<div class="container">
  <div class="row">
    <div class="card border-info mb-3" style="max-width: 18rem;">
      <div class="card-header">Repository name: {{repo.name}}</div>
      <div class="card-body text-info">
        <div class="text-justify">
          Description: {{repo.description}}
        </div>
        <br>
        <h6 class="card-title">GitHub link: <a href={{repo.html_url}} target="_blank">{{repo.html_url}}</a></h6>
        <br>
        <div class="alert alert-secondary">
          Open issues: {{repo.open_issues}}
        </div>
        <div class="alert alert-success">
          Forks: {{repo.forks_count}}
        </div>
      </div>
    </div>
  </div>
</div>